    <a href="#" class="crunchify-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <footer class="footer_section section_wrapper section_wrapper" >
        <div class="copyright-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
							<a href="/"><img src="/img/Logo1.png" style="width:50%"></a>
					</div><!--col-xs-3-->
					<div class="col-md-6">
						<div class="copyright" style="margin-left:150px">
						© Copyright 2015 - Sportalk
						</div>
					</div><!--col-xs-6-->
					<div class="col-md-3">
						Sports News Magazine
					</div><!--col-xs-3-->
				</div><!--row-->
			</div><!--container-->
		</div><!--copyright-section-->
    </footer>
</div> <!--main-wrapper-->
  
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/jquery.min.js"></script>

<!-- Owl carousel -->
<script src="/js/owl.carousel.js"></script>

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- Theme Script File-->
<script src="/js/script.js"></script> 

<!-- Off Canvas Menu -->
<script src="/js/offcanvas.min.js"></script> 

<script src="/js/scrollPosStyler.js"></script>
   
</body>
</html>